<main class="contents-container">
    <div class="page-title">
        <h1>Profile</h1>
    </div>
    <div class="user-info">
        <div class="user-image">
            <i class="fa-solid fa-user"></i>
        </div>
        <div class="user">
            <h1>{{username}}</h1>
            <h1>{{email}}</h1>
        </div>
    </div>
    <ul class="profile-post-lists">
        {{#each posts}}
            <li class="profile-post-list">
                <div class="profile-post-container">
                    <div class="post-info">
                        <div class="post-header">
                            <h1 class="post-text post-title">{{this.title}}</h1>
                            <form class="post-btn" action="/posts/delete/{{this.id}}" method="POST">
                                <input type="hidden">
                                <button><i class="fa-solid fa-pen-to-square" style="color: #ffffff;"></i></button>
                                <input type="hidden">
                                <button><i class="fa-regular fa-trash-can" style="color: #ffffff;"></i></button>
                            </form>
                        </div>
                        {{!-- <div class="author-info">
                            <h1 class="post-text post-author">{{this.username}}</h1>
                            <time class="post-text post-time">{{this.createdAt}}</time>
                        </div> --}}
                    </div>
                    <div class="thumbnail">
                        <img src="../../{{this.thumbnail}}" class="video" />

                    </div>
                    {{!-- <div class="post-comment">
                        <ul class="added-comment">
                            <h2 class="comment-title">Comment</h2>
                            <li><div><span class="comment-username">username</span><span class="comment-content">:)</span></div></li>
                            <li><div><span class="comment-username">username</span><span class="comment-content">Good</span></div></li>
                        </ul>
                    </div> --}}
                </div>
            </li>
        {{/each}}
    </ul>
</main>
